<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% block title %}Overview{% endblock %} – YouTube Tea Timer</title>
        {% block initial_head %}
            <style type="text/css" media="screen">
                {% include "youtube_timer/style.css" %}
            </style>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
            <script>
            $(document).ready(function() {
               $("#menu_timer").click(function(event) {
                   event.preventDefault();
                   if ($("#new_job").css('display') == 'block') {
                       $("#new_job").fadeOut();
                   } else {
                       $("#new_job").fadeIn();
                   }
               });
               $("#menu_overview").click(function(event) {
                   event.preventDefault();
                   $("#new_job").fadeOut();
               });
               $("#date_today").click(function(event) {
                   event.preventDefault();
                   today = new Date();
                   month = today.getMonth();
                   day = today.getDate();
                   if (month<10) {
                       month = '0'+month;
                   }
                   if (day<10) {
                       day = '0'+day;
                   }
                   $("#date").val(day+'.'+month+'.'+today.getFullYear());
               })
            });
            </script>

            <script>
                $(document).ready(function() {
                   $('form#ajform').submit(function (event) {
                       event.preventDefault();
                       $.post('{% url youtube_timer_add %}', $('form#ajform').serialize(), function (data) {
                           $("#job_table tbody").prepend(data);
                       });
                       $("#new_job").fadeOut();

                   });
                   $('.publish').live('click', function (event) {
                       event.preventDefault();
                       var elm = $(this)
                       $.get('{% url youtube_timer_force_publish %}', {'video_id': elm.attr('rel')}, function(data) {
                           elm.parent().html(data);
                       });
                   });
                   $('.unpublish').live('click', function (event) {
                       event.preventDefault();
                       var elm = $(this)
                       $.get('{% url youtube_timer_force_unpublish %}', {'video_id': elm.attr('rel')}, function(data) {
                           elm.parent().html(data);
                       });
                   });
                });
            </script>
            
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="cw">
                <h1>
                    <object type="image/png" data="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK0AAAAhCAYAAACr3SvgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
                    bWFnZVJlYWR5ccllPAAABolJREFUeNrsW29oHEUU36tBKBQ8CgW1X04QQv5o7pJAI1pypxQKgrl8
                    8EtFm0OpWIR43yoIST6IoEhSKIJ+yYogSAUvolgUkgtEDGLIhoTEQKCXD6H1S9xCoSCE+N7lzfk6
                    zuzt7t0lBN4PftzuzOybtzNv37x5u5fY3993EAMDAw7hZeAPTnQsLC4unncEghbjhAyB4LihTR0o
                    jysQiKcVCMTTCsTTCgTiaQUC8bQCgdlo0dMSh9kx0gOOAV8C9hPfAH4LfMDatff39z8lQypoNRIq
                    LOjr68OfKeAo1W0B3wP+GHD948CPgCN0vgM8v7S0dFuGVnAY4cElZrALwHN1DBZxF1gg7gHPAm/C
                    A/CIDK2gpUbb29t7Gjzux7TMbwGHgLtamPDZ/gG2tXKkC3yfjvuA78rQClqaPQAje5O8JOIt4G5U
                    QcvLy59kMplhOHwOeA2Ob0DZXlQ5f73wZLYad/x6p/yQS3/+if+VQ1kKfvLAJNAHlqC+wurTVOdB
                    uU9leI7lPpR5Sq4FFZJba2+TbZGjX4P6pmx9cd0R3d3dYXUzwV9bW/OYLHXfDpSXbUKhXZCO1WuV
                    XkoO01Pvk8tS5YH6BvTvQb3PjfYSVcwC5+M+Abhhg5+fKdZ9EfhLDDEoIwsTXIBJdGmyMWaeBpaJ
                    vIxjkl+H5ygLmFPX0aDN0XmOjm2YoHa8vWORbZQD+mDdMD00I3R/tr7GtbKwupmg6ztGexQ0pgw3
                    Lg1BOlb3QazPhEHPBDuepjFymC719LX2D3oXQG+3LZ1On2XW/02DnnuWvPRp4CsxjRbj49ukuMsG
                    HFFkXneaPA0aRJnKvsNyOK7onjoAOWbMk+QRisybpSLqzw1llFaCPLsXNUHzhkmLqxsef2nwxBx5
                    Ta+CRX+X6TJJfReZpwwEel3mybM0R0mDbvX0dVmbFM33NMgvtYF37GQNl0LodQp4RS/s6enZWllZ
                    mYVflHEB2BnH6nGJBKNDhUfImyqlXbbUqg1jURknGW6Rbm7UYgSm/pTn5ku6HoJE0Z9fq4xFlzEP
                    7cbryWLLL19Cy9ryW51wKB8PMKQ06VAiQ8rbjBbkVJQBwXU+W5rrjWeZZCPL1KcKC/QwJ1BfwrZ2
                    r5dJThqN9gxruBNiXtCLfm4o/xo9LchTMs404LEnaGCVh/WpTPcaJe26Ehlt/qg2CWCofDIuk+6u
                    1mxQa+eEMeIApGBS9etdMkD+kM+QPiPQPg/1pSbfPhrZIPOyDq0o2Yj6muLsNOnuodH+00ytQZ5K
                    d8WWS972OjPaCX2TQu18/Zx5zKPCmGEifa0sa5jIhozW0m/F8JCr2HrI8NA3inmmx2DAaldP3+o4
                    grHqbYZxM3YCjOwuf6tlSGcpXgUmbFxdXX2NjPZpar/T4ABMWY6V51WZAO7lkrz+KAAPTkKR9M5S
                    bKjHazmNjcAzyPPIS6nsise8VdWQKaPQbE+rsgnZgE29VV9N1gTbcNZWDMwerAIfAE/S0xE7ewDK
                    PsY2dUsNTn7Na+oelW7CtMHJB2xqjgIztGPXY9rtCBvFMPADYs4hLWuikDSMn9OEh0cZV5LFuVH0
                    rXltFffSw/W3ktUGFfe6urpuoeulZeND5+DtVpzQ4HUy/mZkIoJwnQZ8UmUKKHswyeqV0WD5KNR7
                    hvgu1MYKrvUpDZdlfWX1TRvPJ2uhwny9mJbytHENyBQjqhVqxJDVyJJuQ800Wly6QQ+POQ/PYrRG
                    fW2bM5JbO1d52q/IaPGDl3eAN6Iq3NnZiV72Gp3+vr6+vtnCJRgNp0Cbrjktji0wQ3JpM5TXNmde
                    xMkqWvoqGtrOGVaFqRAxbbkBA0pZcpsqRixpO3GP2ldDBJW0b2KIkKaMw0PGFkLfunE96quM9nsW
                    83xKxwsRFMXN103nv7dqHzRpAHIBhutS4t76RozCigy0y7OwBd9glQLiLD9OXxZd9bdcbkDo4oeI
                    WX1LuQ0Vqq8YPFfGkD81PaxJQ7yZM5z7bJWbYefqnr16c6q11zfeSt9k7Suvjo4OzKv+Qcv7feCr
                    wFsh87ZosBfp/IuNjY23HYGgReDf067ThzL4jewp4E/AaZYN0HkSeAX4J/AileE3tldlWAWtRM3T
                    tre3qzJ826W/PMAMw2/OQe71UefgxcEF8rIK68BnNzc392RYBa1Em6HMlF99hhiEXTFYwaEarfyx
                    UXDsYlqBQDytQCCeViAQTys47kbLcM+J97HLpgyn4DDwrwADABudssm9DvqAAAAAAElFTkSuQmCC" width="173" height="33">YouTube Tea Timer</object>
                </h1>

                
                <ul>
                    {% block menu_items %}
                        <li><a href="./" id="menu_overview">Overview</a></li>
                        <li><a href="./" id="menu_timer">New timer</a></li>
                        <li><a href="{% url youtube_timer_logout %}">(Log out)</a></li>
                    {% endblock %}
                </ul>
                <div class="clearer"></div>
            </div>
        </div>
        
        <div class="cw" id="content">
            {% block post_form %}
                <div id="new_job" style="display: none;">
                    <div id="w">
                    <h2>New timer</h2>
                    <form id="ajform" action="{% url youtube_timer_add %}" method="post" accept-charset="utf-8">

                        <p><label for="youtube_id">YouTube-ID: </label>
                        <input type="text" name="youtube_id" value="" id="youtube_id">
                        <small>The emphasized word in the URL is the YouTube-ID:
                             http://www.youtube.com/watch?v=<strong><em>nu0qim4-Y0s</em></strong></small>
                        </p>

                        <p><label for="date">Date: </label>
                            <input type="text" name="date" value="" id="date"> <span><a href="#" id="date_today">Today</a></span>
                        <small>Date input should be in the format of <strong>29.12.2009</strong></small>
                        </p>

                        <p>
                            <label for="time">Time: </label><input type="text" name="time" value="" id="time">
                            <small>Time input should be in the format of <strong>11:30</strong></small>
                        </p>


                        <p style="padding: 20px 0px 10px; border-top: 1px solid #ddd;">
                            <input type="submit" value="Save timer &rarr;">
                            <small style="padding-left: 10px; display: inline; color: #888;">By pressing "Save timer", the video will be published on the time of your selection.</small>

                        </p>
                    </form>
                    </div>
                </div>
                
            {% endblock %}
            
            
            {% block content %}
                
            {% endblock %}
        </div>
        
    </body>
</html>