<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% block title %}Overview{% endblock %} – YouTube Tea Timer</title>
        <!--[if lt IE 8]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
        <![endif]-->
        {% block initial_head %}
            <style type="text/css" media="screen">
                {% include "youtube_timer/style.css" %}
            </style>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
            <script>
            $(document).ready(function() {
               $("#menu_timer").click(function(event) {
                   event.preventDefault();
                   if ($("#new_job").css('display') == 'block') {
                       $("#new_job").fadeOut();
                   } else {
                       $("#new_job").fadeIn();
                   }
               });
               $("#menu_overview").click(function(event) {
                   event.preventDefault();
                   $("#new_job").fadeOut();
               });
               $("#date_today").click(function(event) {
                   event.preventDefault();
                   today = new Date();
                   month = today.getMonth()+1;
                   day = today.getDate();
                   if (month<10) {
                       month = '0'+month;
                   }
                   if (day<10) {
                       day = '0'+day;
                   }
                   $("#date").val(day+'.'+month+'.'+today.getFullYear());
               })
            });
            </script>

            <script>
                $(document).ready(function() {
                   $('form#ajform').submit(function (event) {
                       event.preventDefault();
                       $.post('{% url youtube_timer_add %}', $('form#ajform').serialize(), function (data) {
                           $("#job_table tbody").prepend(data);
                       });
                       $("#new_job").fadeOut();

                   });
                   $('.publish').live('click', function (event) {
                       event.preventDefault();
                       var elm = $(this)
                       $.get('{% url youtube_timer_force_publish %}', {'video_id': elm.attr('rel')}, function(data) {
                           elm.parent().html(data);
                       });
                   });
                   $('.unpublish').live('click', function (event) {
                       event.preventDefault();
                       var elm = $(this)
                       $.get('{% url youtube_timer_force_unpublish %}', {'video_id': elm.attr('rel')}, function(data) {
                           elm.parent().html(data);
                       });
                   });
                   $('.delete').live('click', function (event) {
                       event.preventDefault();
                       var elm = $(this);
                       elm.html('Processing…');
                       $.get('{% url youtube_timer_delete %}', {'video_id': elm.attr('rel')}, function(data) {
                           elm.parent().parent().remove();
                       });
                   })
                });
            </script>
            
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="cw">
                <h1>
                    <img src="http://labs.sosial.me/share/logo.png" alt="YouTube Tea Timer">
                </h1>

                
                <ul>
                    {% block menu_items %}
                        <li><a href="./" id="menu_overview">Overview</a></li>
                        <li><a href="./" id="menu_timer">New timer</a></li>
                        <li><a href="{% url youtube_timer_logout %}">(Log out)</a></li>
                    {% endblock %}
                </ul>
                <div class="clearer"></div>
            </div>
        </div>
        
        <div class="cw" id="content">
            {% block post_form %}
                <div id="new_job" style="display: none;">
                    <div id="w">
                    <h2>New timer</h2>
                    <form id="ajform" action="{% url youtube_timer_add %}" method="post" accept-charset="utf-8">

                        <p><label for="name">Timer name: </label>
                        <input type="text" name="name" value="" id="name">
                        <small>A custom name for this timer.</small>
                        </p>
                        

                        <p><label for="youtube_id">YouTube-ID: </label>
                        <input type="text" name="youtube_id" value="" id="youtube_id">
                        <small>The emphasized word in the URL is the YouTube-ID:
                             http://www.youtube.com/watch?v=<strong><em>nu0qim4-Y0s</em></strong></small>
                        </p>

                        <p><label for="date">Date: </label>
                            <input type="text" name="date" value="" id="date"> <span><a href="#" id="date_today">Today</a></span>
                        <small>Date input should be in the format of <strong>29.12.2009</strong></small>
                        </p>

                        <p>
                            <label for="time">Time: </label><input type="text" name="time" value="" id="time">
                            <small>Time input should be in the format of <strong>11:30</strong></small>
                        </p>


                        {% comment %}
                        <p>
                            <label for="pub_type">Publish/unpublish?</label>
                        <select name="pub_type" id="pub_type" size="1">
                            <option value="publish">Publish</option>
                            <option value="unpublish">Unpublish</option>
                        </select>
                        <small>Do you want to publish or unpublish at this time?</small>
                        </p>
                        {% endcomment %}
                        


                        <p style="padding: 20px 0px 10px; border-top: 1px solid #ddd;">
                            <input type="submit" value="Save timer &rarr;">
                            <small style="padding-left: 10px; display: inline; color: #888;">By pressing "Save timer", the video will be published on the time of your selection.</small>
                        </p>
                    </form>
                    </div>
                </div>
                
            {% endblock %}
            
            
            {% block content %}
                
            {% endblock %}
        </div>
        
    </body>
</html>