{% extends "youtube_timer/base.html" %}

{% block title %}Login{% endblock %}

{% block initial_head %}
    <style type="text/css" media="screen">
        {% include "youtube_timer/style.css" %}
    </style>
{% endblock %}

{% block post_form %}
    
{% endblock %}

{% block menu_items %}
    
{% endblock %}

{% block content %}
{% if not logged_out %}
    <div id="login_box">
        <form action="" method="post" accept-charset="utf-8">
            {{ form.as_p }}
            <p><input type="submit" value="Login &rarr;"></p>
        </form>
    </div>
{% else %}
<div id="login_box">
    <form>
        <p>You're logged out! You can <a href="{% url youtube_timer_overview %}">log back in</a>, if you want...</p>
    </form>
</div>
{% endif %}
{% endblock %}